*{
    background-color: #f3f3f3;
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h1{
    margin-top: 1rem;
    font-size: 5rem;
    color: blue;
}

.main{
    border: 2px solid black;
    border-radius: 10px;
    width: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: black;
}
input{
    background-color: #000000;
    width: 95%;
    /* text-align: center; */
    border: 2px solid white;
    height: 3rem;
    color: white;
    font-size: 2rem;
    padding: 5px 10px;
}
.box{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* grid: 1rem / auto auto auto; */
    /* gap: 1rem; */
    border-radius: none;
}

.btn{
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: none;
    margin: 5px 0;
    text-align: center;
    width: 8.2rem;
    font-size: 2rem;
    height: 4rem;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background-color: rgb(78, 77, 77);
}